<a href="https://colab.research.google.com/github/MehakSingh123/Training-102-/blob/main/Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Conditional Statement

IN PYTHON, THERE ARE FOUR FORMS OF THE IF.........ELSE STATEMENT

IF STATEMENT
IF...ELSE STATEMENT
IF...ELIF STATEMENT
IF..ELIF...ELSE STATEMENT
NESTED IF


PRACTICE QUESTIONS: 

You have a variable age. Write a conditional statement to check if age is greater than or equal to 18. If true, print "You are an adult", otherwise print "You are a minor"

In [ ]:
age=10
if age>=18:
  print("You are an adult")
else:
  print("You are a minor")

You are a minor

Given a variable temperature, write a conditional statement to check if temperature is below 0. If true, print "It's freezing", otherwise print "It's not freezing".

In [ ]:
temp=38.4
if temp<0:
  print("It's freezing")
else:
  print("It's not freezing")

It's not freezing

You have a variable score. Write a conditional statement to check if score is greater than 90. If true, print "Grade A", if score is between 80 and 90, print "Grade B", otherwise print "Grade C".

In [ ]:
score=20
if score>90:
  print("Grade A")
elif score>=80 and score<=90:
  print("Grade B")
else:
  print("Grade C")

Grade C

Given two variables a and b, write a conditional statement to check if a is equal to b. If true, print "a and b are equal", otherwise print "a and b are not equal".

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if a==b:
  print("a and b are equal")
else:
  print("a and b are not equal")

Enter a number10
Enter a number20
a and b are not equal

You have a variable number. Write a conditional statement to check if number is even or odd. If even, print "Even number", otherwise print "Odd number".

In [ ]:
a=int(input("The number: "))
if a%2==0:
  print("Even number")
else:
  print("Odd number")

The number: 10
Even number

Given a variable day which can be any day of the week, write a conditional statement to print "Weekend" if the day is "Saturday" or "Sunday", otherwise print "Weekday".

In [ ]:
day=input("Enter the day: ")
if day=="Saturday" or day=="Sunday":
  print("Weekend")
else:
  print("Weekday")

Enter the day: saturday
Weekday

You have a variable marks. Write a conditional statement to check if marks are greater than 75. If true, print "Distinction", if marks are between 50 and 75, print "Pass", otherwise print "Fail".

In [ ]:
rks=int(input("Enter number: "))
if rks>75:
  print("Distinction")
elif rks>=50 and rks<=75:
  print("Pass")
else:
  print("Fail")

Enter number: 20
Fail

Given a variable speed, write a conditional statement to check if speed is greater than 120. If true, print "Over speed limit", otherwise print "Within speed limit".

In [ ]:
speed=int(input("Enter speed: "))
if speed>120:
  print("Over speed limit")

Enter speed: 10

You have a variable year. Write a conditional statement to check if year is a leap year. If true, print "Leap year", otherwise print "Not a leap year"

In [ ]:
r=int(input("Enter the year: "))
if r%4==0:
  print("Leap year")

Enter the year: 2004
Leap year

Given a variable char, write a conditional statement to check if char is a vowel (a, e, i, o, u). If true, print "Vowel", otherwise print "Consonant".

In [ ]:
a=input("Enter a char variable: ")
if a=="a" or a=="e" or a=="i" or a=="o" or a=="u":
  print("Vowel")
else:
  print("Consonant")

Enter a char variable: b
Consonant

You have two variables x and y. Write a conditional statement to check if both x and y are positive. If true, print "Both are positive", otherwise print "At least one is not positive".

In [ ]:
a=int(input("Enter value: "))
b=int(input("Enter value: "))
if (a and b)>0:
  print("positive")
else:
  print("negative")

Enter value: -1
Enter value: -1
negative

Given a variable time representing the hour of the day in 24-hour format, write a conditional statement to print "Good morning" if time is between 6 and 12, "Good afternoon" if time is between 12 and 18, and "Good evening" if time is between 18 and 24.

In [ ]:
time=int(input("Enter time: "))
if time>=6 and time<=12:
  print("Good morning")
elif time>=12 and time<=18:
  print("Good afternoon")
else:
  print("Good evening")

Enter time: 17
Good afternoon

You have a variable budget and a variable price. Write a conditional statement to check if budget is greater than or equal to price. If true, print "Purchase possible", otherwise print "Not enough budget".

In [ ]:
budget=int(input("Enter budget: "))
price=int(input("Enter price: "))
if budget>=price:
  print("Purchase possible")
else:
  print("Not enough budget")

Enter budget: 15
Enter price: 10
Purchase possible

Given a variable username, write a conditional statement to check if username is not empty. If true, print "Username is valid", otherwise print "Username cannot be empty".

In [ ]:
username=input("Enter username: ")
if username!="":
  print("Username is valid")
else:
  print("Username cannot be empty")

Enter username: mehak
Username is valid

You have a variable weight and a variable height. Write a conditional statement to calculate BMI and print "Underweight" if BMI is less than 18.5, "Normal weight" if BMI is between 18.5 and 24.9, and "Overweight" if BMI is 25 or above.

In [ ]:
BMI=int(input("Enter BMI: "))
if BMI<18.5:
  print("Underweight")
elif BMI>=18.5 and BMI<=24.9:
  print("Normal weight")
else:
  print("Overweight")

Enter BMI: 30
Overweight

Given a variable password, write a conditional statement to check if the length of password is greater than or equal to 8. If true, print "Strong password", otherwise print "Weak password".

In [ ]:
password=input("Enter password: ")
if len(password)>=8:
  print("Strong password")
else:
  print("Weak password")

Enter password: mehak
Weak password

You have a variable grade. Write a conditional statement to print "Excellent" if grade is 'A', "Good" if grade is 'B', "Average" if grade is 'C', and "Poor" if grade is 'D'.

In [ ]:
grade=input("Enter the grade: ")
if grade=="A":
  print("Excellent")
elif grade=="B":
  print("Good")
elif grade=="C":
  print("Average")
else:
  print("Poor")

Enter the grade: C
Average

Given a variable month, write a conditional statement to check if month is "December", "January", or "February". If true, print "Winter", if month is "June", "July", or "August", print "Summer", otherwise print "Other season".

In [ ]:
month=input("Enter the month:")
if month=="Decmber" or month=="January" or month=="Feburary":
  print("Winter")
elif month=="June" or month=="July" or month=="August":
  print("Summer")
else:
  print("Enter valid input")

Enter the month:January
Winter

You have a variable balance. Write a conditional statement to check if balance is greater than or equal to 1000. If true, print "Sufficient balance", otherwise print "Insufficient balance".

In [ ]:
balance=int(input("Enter balance: "))
if balance>=1000:
  print("Sufficient balance")
else:
  print("Insufficient balance")

Enter balance: 1000
Sufficient balance

You have a variable income. Write a conditional statement to print "High income" if income is above 100000, "Middle income" if income is between 50000 and 100000, and "Low income" if income is below 50000.

In [ ]:
income=int(input("Enter income: "))
if income>100000:
  print("High income")
elif income>=50000 and income<=100000:
  print("Middle income")
else:
    print("Low income")

Enter income: 500
Low income


Loops--->>>
These are important in Python or in any other programming language as they help you to execute a block of code repeatedly. You will often come face to face with situations where you would need to use a piece of code over and over but you don't want to write the same line of code multiple times.

In Python we have mainly two different types of loops :
for loop : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.

while loop : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

Practice questions-->>

1. You are managing a list of employee ages. Print each age from the list using a for loop.

In [ ]:

list=[19,20,21,22,23,24,25]
for i in list:
  print(i ,end=" ")

19 20 21 22 23 24 25

2. You have a string representing a secret message. Use a while loop to print each character until you reach a period (`.`).

In [ ]:
str1="Hello my name is mehak."
for i in str1:
  if i==".":
    break
  print(i,end=" ")

H e l l o   m y   n a m e   i s   m e h a k

3. You are given a list of daily temperatures. Use a for loop to calculate and print the average temperature for the week.

In [ ]:
list=[12,23,34,56,78]
sum=0
for i in list:
  sum=sum+i
print(sum/len(list))

40.6

4. You need to distribute candies to children. Print each child's name and the number of candies they receive, distributing 1 to 20 candies using a for loop.

In [ ]:
# prompt: 4. You need to distribute candies to children. Print each child's name and the number of candies they receive, distributing 1 to 20 candies using a for loop.

children = ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve']
candies = range(1, 21)
for child, candy in zip(children, candies):
  print(f'{child} gets {candy} candies.')

Alice gets 1 candies.
Bob gets 2 candies.
Charlie gets 3 candies.
Diana gets 4 candies.
Eve gets 5 candies.


5. You are processing a list of book titles. Use a for loop to print each title in uppercase.

In [ ]:
book=['book1','book2','book3','book4','book5']
for i in book:
  print(i.upper())

BOOK1
BOOK2
BOOK3
BOOK4
BOOK5

6. You are counting items in a warehouse. Use a for loop to skip printing the count for the item labeled "defective", but print counts for all other items.

In [ ]:
items=['item1','item2','item3','defective','item4','item5']
for i in items:
  if i=="defective":
    continue
  print(i)

item1
item2
item3
item4
item5


7. You are programming a countdown timer. Write a while loop to print the countdown from 10 to 0.

In [ ]:
count=10
while(count>=0):
  print(count,end=" ")
  count-=1

10 9 8 7 6 5 4 3 2 1 0

8. You are analyzing sales data. Use a for loop to find and print the highest sale amount from a list of sales figures.

In [2]:
sales= [100, 200, 300, 400, 500]
max=sales[0]
for i in sales:
  if i>max:
    max=i
print(max)

500

9. You are creating a sequence of special offers. Use a for loop to generate and print the first 10 offers based on the Fibonacci sequence.

In [5]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

10. You are maintaining a guest list. Use a for loop to print each guest's name, but stop if you encounter the name "VIP".

In [6]:
guest=["mehak","jacky","bob","oggy","VIP","cocroach"]
for i in guest:
  if i=="VIP":
    break
  print(i)

mehak
jacky
bob
oggy


11. You are designing a game where players' names are stored in a string. Use a while loop to print the players' names in reverse order.

In [1]:
players=["mehak","jacky","bob","oggy"]
i=len(players)-1
while i>=0:
  print(players[i])
  i-=1

oggy
bob
jacky
mehak

12. You are calculating class averages. Use a for loop to calculate and print the average grade from a list of grades.

In [2]:
num=[1,2,3,4,5]
sum=0
for i in num:
  sum+=i
  avg=sum/len(num)
print(avg)

3.0

13. You are creating a list of odd-numbered lockers. Use a for loop to print all odd locker numbers from 1 to 50.

In [3]:
list=[]
for i in range (1,51):
  if i%2!=0:
    list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

14. You are checking production line output. Use a while loop to print each item produced until you encounter a defective item marked with a negative number.

In [ ]:
# prompt:

production = [10, 20, 30, -1, 40, 50]

i = 0
while production[i] > 0:
    print(production[i])
    i += 1


15. You are performing data analysis on a list of survey responses. Use a for loop to create a new list containing the squared value of each response.

In [4]:
list=[1,2,3,4,5]
for i in num:
  print(i**2)

1
4
9
16
25

16. You are organizing a fun run. Use a for loop to iterate over participant numbers from 1 to 30, printing "Short Run" for multiples of 3, "Long Run" for multiples of 5, and "Marathon" for multiples of both 3 and 5.

In [5]:
for i in range(1,31):
  if i%3==0 and i%5==0:
    print("Marathon")
  elif i%3==0:
    print("Short Run")
  elif i%5==0:
    print("Long Run")

Short Run
Long Run
Short Run
Short Run
Long Run
Short Run
Marathon
Short Run
Long Run
Short Run
Short Run
Long Run
Short Run
Marathon

17. You are managing a grid-based game. Use nested for loops to print each cell value in a 2D grid representing the game board.

In [12]:
game_board = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for row in game_board:
    for cell in row:
        print(cell, end=' ')
    print("\n")

1 2 3

4 5 6

7 8 9

18. You are summing digits of a player's score repeatedly until the score is a single digit. Use a while loop to perform this sum.

In [15]:
score = 9875

while score >= 10:
    sum = 0
    while score > 0:
        sum += score % 10
        score //= 10
    score = sum
print(score)
print()

2


20. You are developing a text analysis tool. Use a for loop to count and print the number of vowels in a given string.

In [18]:

vowels = "Hello where are you"
count=0
for i in vowels:
  if i=="a"or i=="e" or i=="i" or i=="o" or i=="u":
    count+=1
print("Task 20:", count)
print()

Task 20: 8

# Task 21: Print the multiplication table for a given number up to 10

In [19]:
number = 7
print("Task 21:")
i = 1
while i <= 10:
    print(f"{number} x {i} = {number * i}")
    i += 1
print()

Task 21:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

21. You are writing a program to print multiplication tables. Use a while loop to print the multiplication table for a given number up to 10.

In [20]:
number=10
i=1
while i<=10:
  print(number,"x",i,"=",number*i)
  i+=1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

22. You are filtering a list of survey responses. Use a for loop to create a new list containing only positive responses.

In [21]:
list=[1,2,3,4,5]
new_list=[]
for i in list:
  if i>0:
    new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5]

24. You are creating a menu-driven application. Use a while loop to repeatedly ask the user for input until they type "exit".

In [22]:
menu=input("Enter menu: ")
while menu!="exit":
  menu=input("Enter menu:")

Enter menu: hello
Enter menu:exit

26. You are converting temperatures for a weather app. Use a for loop to convert each temperature from Celsius to Fahrenheit and print the results.

In [25]:
celsius_temperatures = [0, 20, 100]
for celsius in celsius_temperatures:
  fahrenheit = (celsius * 9/5) + 32
  print(f"{celsius}°C = {fahrenheit}°F")

0°C = 32.0°F
20°C = 68.0°F
100°C = 212.0°F

In [29]:
# Task 27: Print each key-value pair in a list of dictionaries
configurations = [
    {"setting1": "value1", "setting2": "value2"},
    {"settingA": "valueA", "settingB": "valueB"}
]
print("Task 27:")
for config in configurations:
    for key, value in config.items():
        print(f"{key}: {value}")
print()

# Task 28: Reverse a list and print the reversed list
data_points = [1, 2, 3, 4, 5]
reversed_list = []
index = len(data_points) - 1
print("Task 28:")
while index >= 0:
    reversed_list.append(data_points[index])
    index -= 1
print(reversed_list)
print()

# Task 29: Determine and print the longest keyword
keywords = ["python", "java", "c", "javascript"]
longest_keyword = max(keywords, key=len)
print("Task 29:", longest_keyword)
print()

# Task 30: Print the factorial of a given number
number = 5
factorial = 1
print("Task 30:")
for i in range(1, number + 1):
    factorial *= i
print(factorial)
print()

# Task 31: Print the sum of each pair from a list of tuples
pairs = [(1, 2), (3, 4), (5, 6)]
print("Task 31:")
for pair in pairs:
  sum+=pair[0]+pair[1]
  print(sum)
print()

# Task 32: Print each character and its index
string = "example"
print("Task 32:")
for index, char in enumerate(string):
    print(f"Index: {index}, Character: {char}")
print()

# Task 33: Generate the first 15 terms of a sequence based on the sum of the two preceding numbers
terms = [0, 1]
print("Task 33:")
while len(terms) < 15:
    terms.append(terms[-1] + terms[-2])
print(terms)
print()

# Task 34: Print each number in a list along with its square
numbers = [1, 2, 3, 4, 5]
print("Task 34:")
for number in numbers:
    print(f"{number} squared is {number ** 2}")
print()

# Task 35: Print the transpose of a given matrix
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Task 35:")
for i in range(len(matrix[0])):
    for j in range(len(matrix)):
        print(matrix[j][i], end=' ')
    print()
print()

# Task 36: Find the greatest common divisor (GCD) of two numbers using the Euclidean algorithm
a, b = 48, 18
print("Task 36:")
while b:
    a, b = b, a % b
print("GCD:", a)
print()

# Task 37: Print each word in a sentence on a new line
sentence = "This is a sample sentence"
print("Task 37:")
for word in sentence.split():
    print(word)
print()

# Task 38: Print event messages until a "stop" event is encountered
events = ["start", "load", "process", "stop", "unload"]
index = 0
print("Task 38:")
while index < len(events):
    event = events[index]
    if event == "stop":
        break
    print(event)
    index += 1
print()

# Task 39: Print the cumulative sum and stop once the threshold is exceeded
numbers = [10, 20, 30, 40, 50]
threshold = 100
cumulative_sum = 0
print("Task 39:")
for number in numbers:
    cumulative_sum += number
    print(cumulative_sum)
    if cumulative_sum > threshold:
        break
print()

# Task 40: Print each name in "Last, First" format
names = ["John Doe", "Jane Smith", "Alice Johnson"]
print("Task 40:")
for name in names:
    first, last = name.split()
    print(f"{last}, {first}")

Task 27:
setting1: value1
setting2: value2
settingA: valueA
settingB: valueB

Task 28:
[5, 4, 3, 2, 1]

Task 29: javascript

Task 30:
120

Task 31:
5
12
23

Task 32:
Index: 0, Character: e
Index: 1, Character: x
Index: 2, Character: a
Index: 3, Character: m
Index: 4, Character: p
Index: 5, Character: l
Index: 6, Character: e

Task 33:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

Task 34:
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

Task 35:
1 4 7
2 5 8
3 6 9

Task 36:
GCD: 6

Task 37:
This
is
a
sample
sentence

Task 38:
start
load
process

Task 39:
10
30
60
100
150

Task 40:
Doe, John
Smith, Jane
Johnson, Alice